<body>
    <div class="row height d-flex justify-content-center align-items-center">
        <div class="col-md-6">
            <div class="p-5 text-center">
                <h1 class="display-1">About Dictionary Search</h1>
                <p class="display-2">Dictionary Search works by submitting a word-based query to the Merriam-Webster API (the term entered). After processing the request, the API returns the word's meaning, pronunciation, and other relevant details. The information given by the API is accurate and current since it draws from a database of words and their definitions that is frequently updated. The API can also handle a variety of query types, including idioms, phrases, and inflections. The API will the send the  provided data in JSON format. The data is then displayed to the user using HTML and CSS.</p>
                <h1 class="display-3"> Technologies Used </h1>
                <div class="icons">
                    <img class="icon" src="https://angular.io/assets/images/logos/angular/angular.svg">
                    <img class="icon"  src="https://cdn-icons-png.flaticon.com/512/5968/5968267.png">
                    <img class="icon" src="https://cdn-icons-png.flaticon.com/512/5968/5968242.png">
                    <img class="icon" src="https://cdn-icons-png.flaticon.com/512/5968/5968672.png">
                    <img class="icon" src="https://cdn-icons-png.flaticon.com/512/5968/5968381.png">
                </div>
            </div>
            
        </div>  
    </div>
    
</body>