body{
    background: #212529!important;
}

.display-1{
    color: #FAF8F6;
    white-space: nowrap;
    font-size: xx-large;
    font-weight: 500;
    white-space: nowrap;
    margin-top: 25px;
}

.display-2{
    color: #FAF8F6;
    font-size: large;
    font-weight: 300;
    overflow-wrap: normal;
    margin: 20px auto;
    padding: 12px;
}