<router-outlet>
   <header class="navbar fixed-top">
      <nav class="navbar navbar-expand-lg navbar-dark shadow-5-strong" >
         <div class="container-fluid" >
               <ul class="navbar-nav me-auto mb-2 mb-lg-0" >
                  <li class="nav-item" >
                     <a class="nav-link" href="">Home<img class="search-icon" src="https://cdn-icons-png.flaticon.com/512/846/846551.png"></a>
                  </li>
                  <li class="nav-item">
                     <a style="text-align: right;" class="nav-link" href="/about">About<img style="text-align: right;" class="search-icon" src="https://www.freeiconspng.com/thumbs/search-icon-png/search-icon-png-21.png"></a>
                  </li>
               </ul>
         </div>
      </nav>
   </header>
</router-outlet>