


<html>
  
<body>
   <div class="container">

      <div class="row height d-flex justify-content-center align-items-center">

        <div class="col-md-6">
         <div class="p-5 text-center">
            <h1 class="display-1">Prefix Search </h1>
          </div>
          <div class="form">
            <i class="fa fa-search"></i>
            <input type="text" class="form-control form-input" placeholder="Search anything...">
            <span class="left-pan"><i class="fa fa-microphone"></i></span>
          </div>
        </div>
        <div class="icons_container  d-flex justify-content-center align-items-center">
      <a style="color: #333;" href="https://github.com/indexjoseph" target="_blank">

         <div class="icon github">
            <div class="tooltip">
               Github
            </div>
            <span><i class="fab fa-github"></i></span>
         </div>
      </a>
      <a style="color: #2d6cca;" href="https://www.linkedin.com/in/josepholadeji/" target="_blank">
         <div class="icon linkedin">
            <div class="tooltip">
               LinkedIn
            </div>
            <span><i class="fab fa-linkedin"></i></span>
         </div>
      </a>
      <a style="color: #f37724;"href="https://stackoverflow.com/users/16072784/indexjoseph" target="_blank">
         <div class="icon stack-overflow">
            <div class="tooltip">Stack Overflow</div>
            <span><i class="fab fa-stack-overflow"></i></span>
         </div>
      </a>
      </div>
      </div>
      
    </div>

</body>


</html>